<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          Hotel Maareeye
        </q-toolbar-title>

        <div v-if="isAuthenticated && profile && profile.id">
          <router-link class="profile-welcome-link" :to="{path: '/profile'}">Welcome {{profile.first_name || profile.last_name}}</router-link>
        </div>
        <div v-else-if="$route.path !== '/login'">
          <router-link :to="{path: '/login'}">Login</router-link>
        </div>
        <div v-else>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Essential Links</q-item-label>
        <q-item v-if="isAuthenticated" clickable tag="a" :to="{path: '/'}">
          <q-item-section avatar>
            <q-icon name="dashboard" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Dashboard</q-item-label>
            <q-item-label caption>control center</q-item-label>
          </q-item-section>
        </q-item>
        <q-item v-if="isAuthenticated" clickable tag="a" :to="{path: '/rooms'}">
          <q-item-section avatar>
            <q-icon name="hotel" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Rooms</q-item-label>
            <q-item-label caption>bookings</q-item-label>
          </q-item-section>
        </q-item>
        <q-item v-if="isAuthenticated" clickable tag="a" :to="{path: '/payments'}">
          <q-item-section avatar>
            <q-icon name="attach_money" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Payments</q-item-label>
            <q-item-label caption>money</q-item-label>
          </q-item-section>
        </q-item>
        <q-item v-if="isAuthenticated" clickable tag="a" :to="{path: '/guests'}">
          <q-item-section avatar>
            <q-icon name="people" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Guests</q-item-label>
            <q-item-label caption>guests</q-item-label>
          </q-item-section>
        </q-item>
        <q-item v-if="isAuthenticated"  class="text-negative" clickable tag="a" @click="logout">
          <q-item-section avatar>
            <q-icon name="cancel" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Logout</q-item-label>
            <q-item-label caption>exit your account</q-item-label>
          </q-item-section>
        </q-item>
        <q-item v-else clickable tag="a" :to="{path: '/login'}">
          <q-item-section avatar>
            <q-icon name="attach_money" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Login</q-item-label>
            <q-item-label caption>login to access</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'
import { mapGetters } from 'vuex'
import { auth } from '../services/api'

export default {
  name: 'MyLayout',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'profile'])
  },
  methods: {
    openURL,
    logout () {
      console.log('logout')
      this.$store.dispatch('LOGOUT_USER')
      this.$router.push('/login')
    },
    getProfile (token) {
      if (!token) {
        console.error('failed to get profile', { token })
        return
      }
      auth.getProfile(this).then(resp => {
        console.log('GetProfile response', resp)
        let path = location.hash.substring(1)
        if (resp && resp.data && resp.data.profile) {
          this.$store.dispatch('LOGIN_USER', { token, profile: resp.data.profile })
          this.$router.push({ path: path || '/dashboard' })
        }
      }).catch(err => {
        console.error('GetProfile error', err)
      })
    }
  },
  created () {
    const authStr = localStorage.getItem('auth')
    let auth = {}
    if (authStr) {
      auth = JSON.parse(authStr)
    }
    console.log('AUTH', auth && auth.token)
    if (auth && auth.token && auth.token.length > 100) {
      this.getProfile(auth.token)
    } else {
      this.$router.push({ path: '/login' })
    }
  }
}
</script>

<style>
.profile-welcome-link {
  text-decoration: none;
  color: #ffffff;
}
</style>
