<template>
  <q-page class="dashboard-wrapper">

    <h4 class="q-pa-sm q-ma-xs">Dashboard</h4>

    <div class="q-pa-md row items-start q-gutter-md">
      <q-card class="my-card">
        <q-card-section class="">
          <knob-control
            v-model="vacantRoomsLength"
            :max="totalRoomsCount"
            :min="0"
            primary-color="#E844C3"
            secondary-color="#E7B6DC"
            text-color="#E844C3"
            :stroke-width="20"
            ></knob-control>
          <div class="text-h6 text-pink text-center">
            Vacant
          </div>
          <div class="card-percentage-value">{{vacantRoomsPerc}}%</div>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn flat>View All</q-btn>
        </q-card-actions>
      </q-card>

      <q-card class="my-card">
        <q-card-section class="">
          <knob-control
            v-model="occupiedRoomsLength"
            :max="totalRoomsCount"
            :min="0"
            primary-color="#145214"
            secondary-color="#d6f5d6"
            text-color="#145214"
            :stroke-width="20"
            ></knob-control>
          <div class="text-h6 text-green-9 text-center">
            Occupied
          </div>
          <div class="card-percentage-value">{{occupiedRoomsPerc}}%</div>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn flat>View All</q-btn>
        </q-card-actions>
      </q-card>

      <q-card class="my-card">
        <q-card-section class="">
          <knob-control
            v-model="unavailableRoomsLength"
            :max="totalRoomsCount"
            :min="0"
            primary-color="#cc0000"
            secondary-color="#ffe6e6"
            text-color="#e60000"
            :stroke-width="20"
            ></knob-control>
          <div class="text-h6 text-negative text-center">
            Unavailable
          </div>
          <div class="card-percentage-value">{{unavailableRoomsPerc}}%</div>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
          <q-btn flat @click="$router.push('/rooms/unavailable')">View All</q-btn>
        </q-card-actions>
      </q-card>
    </div>

    <!-- <div class="q-pa-md">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <h5>Vacant Rooms</h5>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <h5>Occupied Rooms</h5>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <h5>Unavailable Rooms</h5>
        </div>
      </div>

      <div class="row">
        <div class="col">
          .col
        </div>
        <div class="col-5">
          .col-5 (wider)
        </div>
        <div class="col">
          .col
        </div>
      </div>

    </div> -->
  </q-page>
</template>

<style>
</style>

<script>
import { mapGetters } from 'vuex'
import KnobControl from 'vue-knob-control'

export default {
  name: 'PageIndex',
  components: {
    KnobControl
  },
  computed: {
    ...mapGetters(['rooms']),
    vacantRoomsLength () {
      return (this.rooms && this.rooms.filter(item => item && item.is_vacant && item.is_available).length) || 0
    },
    occupiedRoomsLength () {
      return (this.rooms && this.rooms.filter(item => item && !item.is_vacant && item.is_available).length) || 0
    },
    unavailableRoomsLength () {
      return (this.rooms && this.rooms.filter(item => item && !item.is_available).length) || 0
    },
    vacantRoomsPerc () {
      return Math.round(((this.vacantRoomsLength) / (this.rooms.length)) * 100)
    },
    occupiedRoomsPerc () {
      return Math.round(((this.occupiedRoomsLength) / (this.rooms.length)) * 100)
    },
    unavailableRoomsPerc () {
      return Math.round(((this.unavailableRoomsLength) / (this.rooms.length)) * 100)
    },
    totalRoomsCount () {
      return this.rooms && this.rooms.length
    }
  }
}
</script>
<style>
.dashboard-wrapper .knob-control {
  width: fit-content;
  margin: auto;
}
.dashboard-wrapper .q-card.my-card {
  min-width: 30%;
}
.card-percentage-value {
  position: absolute;
  right: 0.1em;
  top: 0.1em;
}
@media screen and (max-width: 600px) {
  .dashboard-wrapper .q-card.my-card {
    min-width: 95%;
  }
  .card-percentage-value {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
  }
}
</style>
