<template>
  <q-page class="flex flex-center">
    <img alt="Quasar logo" src="~assets/quasar-logo-full.svg">
  </q-page>
</template>

<style>
</style>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'PageIndex',
  computed: {
    ...mapGetters(['isAuthenticated'])
  },
  created () {
    if (this.isAuthenticated) {
      this.$router.push({ path: '/dashboard' })
    } else {
      this.$router.push({ path: '/login' })
    }
  }
}
</script>
