<template>
  <q-page class="flex flex-center">

    <form class="q-pa-md login-form" @submit.prevent="login">
      <h4 class="q-ma-xs text-center">Login</h4>
      <div class="q-gutter-y-md column" style="max-width: 15em">
        <q-input v-model="user.email" label="Enter email" placeholder="Enter email" :dense="false" />
        <q-input v-model="user.password" label="Password" placeholder="Enter password" type="password" :dense="false" />

        <div class="row justify-end">
          <q-btn
            type="submit"
            :loading="loading"
            label="Login"
            class="q-mt-md"
            color="teal"
          >
            <template v-slot:loading>
              <q-spinner-pie />
            </template>
          </q-btn>
        </div>
      </div>

    </form>

  </q-page>
</template>

<style>
.login-form {
  border: 1px solid lightgray;
  border-radius: 0.5em;
}
</style>

<script>
import { mapGetters } from 'vuex'
import { auth } from '../services/api'

export default {
  name: 'PageIndex',
  data () {
    return {
      user: {
        email: '',
        password: ''
      },
      loading: false
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated'])
  },
  methods: {
    login (e) {
      console.log('login', e)
      this.loading = true
      auth.login(this, this.user).then(resp => {
        let token = resp && resp.data && resp.data.token
        let level = resp && resp.data && resp.data.level
        console.log('Login response', [token, resp])
        if (!token) {
          console.error('login failed')
        } else {
          let credentials = window.localStorage.getItem('auth')
          if (credentials !== null) {
            credentials = JSON.parse(credentials)
            credentials.token = token
            window.localStorage.setItem('auth', JSON.stringify(credentials))
          }
          auth.getProfile(this).then(resp => {
            console.log('GetProfile response', resp)
            let profile = resp && resp.data && resp.data.profile
            if (profile) {
              this.$store.dispatch('LOGIN_USER', {
                profile,
                level,
                token
              })
              this.$router.push(this.$route.query && this.$route.query.next ? this.$route.query.next : '/')
            } else {
              console.error('profile error', profile)
              this.$store.dispatch('LOGOUT_USER')
            }
          }).catch(err => {
            console.error('GetProfile error', err)
          })
        }
        this.loading = false
      }).catch(err => {
        console.log('Login error', err)
        this.loading = false
      })
    }
  },
  created () {
    if (this.isAuthenticated) {
      this.$router.push({ path: '/dashboard' })
    }
  }
}
</script>
