<template>
  <q-page class="">
    <h4 class="q-pa-sm q-ma-xs">Payments</h4>
    <div v-if="isCheckout">
      <h6 class="q-ma-xs">Checkout Room {{roomNumber}}</h6>

      <div class="q-pa-md" style="max-width: 350px">
        <q-list bordered separator>

          <q-item v-ripple>
            <q-item-section avatar>
              <q-icon color="primary" name="person" />
            </q-item-section>
            <q-item-section>
              <q-item-label caption>Guest</q-item-label>
              <q-item-label>{{guestData && guestData.name}}</q-item-label>
            </q-item-section>
          </q-item>

          <q-item v-ripple>
            <q-item-section avatar>
              <q-icon color="primary" name="date_range" />
            </q-item-section>
            <q-item-section v-if="roomData && roomData.checked_out_date === null">
              <q-item-label caption>{{'Checked in before'}}</q-item-label>
              <q-item-label>{{timeSinceCheckin}}</q-item-label>
            </q-item-section>
            <q-item-section v-else>
              <q-item-label caption>{{'Duration of stay'}}</q-item-label>
              <q-item-label>{{durationOfStay}}</q-item-label>
            </q-item-section>
          </q-item>

          <q-item v-ripple>
            <q-item-section avatar>
              <q-icon color="primary" name="money" />
            </q-item-section>
            <q-item-section>
              <q-item-label caption>Price per day</q-item-label>
              <q-input
                v-model.number="pricePerday"
                :suffix="default_price_currency"
                type="number"
                filled
                disable
                readonly
                hint="This can be changed in settings"
              />
            </q-item-section>
          </q-item>

          <q-item v-ripple>
            <q-item-section avatar>
              <q-icon color="primary" name="attach_money" />
            </q-item-section>
            <q-item-section>
              <q-item-label caption>Estimated price</q-item-label>
              <q-item-label>{{estimatedPrice}}</q-item-label>
            </q-item-section>
          </q-item>

          <q-item v-if="guestCheckedout" v-ripple>
            <q-item-section avatar>
              <q-icon color="primary" name="money" />
            </q-item-section>
            <q-item-section>
              <q-item-label caption>Price per day</q-item-label>
              <q-input
                v-model.number="paidAmount"
                :suffix="default_price_currency"
                type="number"
                filled
                hint="Type the actual amount paid"
              />
            </q-item-section>
          </q-item>

          <q-item v-ripple>
            <q-item-section avatar>
              <!-- <q-icon color="primary" name="attach_money" /> -->
            </q-item-section>
            <q-item-section>
              <!-- <q-item-label caption>Estimated price</q-item-label>
              <q-item-label>{{estimatedPrice}}</q-item-label> -->
            </q-item-section>
            <q-item-section>
              <q-btn v-if="!guestCheckedout" flat label="Checkout" @click="checkoutGuest()" v-close-popup />
              <q-btn v-else color="primary" label="Pay" @click="checkoutGuest()" v-close-popup />
            </q-item-section>
          </q-item>

        </q-list>
      </div>

    </div>
    <!-- <pre>
{{
  {
    isCheckout,
    guestID,
    roomNumber,
    roomData,
    guestData
  }
}}
    </pre> -->
  </q-page>
</template>

<style>
</style>

<script>
import { mapGetters } from 'vuex'
import { daysPast } from '../utils'

export default {
  name: 'payments',
  data () {
    return {
      roomData: {},
      guestData: {},
      paidAmount: 0
    }
  },
  computed: {
    ...mapGetters(['get_room_by_number', 'get_guest_by_number', 'default_price_per_day', 'default_price_currency']),
    isCheckout () {
      return this.$route.query && !!this.$route.query.checkout
    },
    guestID () {
      return this.$route.query && this.$route.query.guest
    },
    roomNumber () {
      return this.$route.query && this.$route.query.room_number
    },
    pricePerday: {
      get () {
        return this.default_price_per_day
      },
      set (val) {
        this.$store.dispatch('UPDATE_DEFAULT_PRICE_PER_DAY', val)
      }
    },
    timeSinceCheckin () {
      let timeKeys = this.roomData && this.roomData.time_since_checkout && Object.keys(this.roomData.time_since_checkout)
      var timeValues = []
      if (!timeKeys || (timeKeys && timeKeys.constructor && timeKeys.constructor.name !== 'Array')) {
        return ''
      }
      console.log('timeSinceCheckin', timeKeys)
      timeKeys.forEach(key => {
        if (this.roomData.time_since_checkout[key]) {
          timeValues.push(`${this.roomData.time_since_checkout[key]} ${key}`)
        }
      })
      return timeValues.join(', ')
    },
    durationOfStay () {
      let checkin = this.roomData && this.roomData.checked_in_date
      let checkout = this.roomData && this.roomData.checked_out_date
      if (!checkin || !checkout) {
        return '[Unknown]'
      }
      let durObj = daysPast(checkin, checkout, 'durationOfStay')
      let timeKeys = Object.keys(durObj)
      var timeValues = []
      if (!timeKeys || (timeKeys && timeKeys.constructor && timeKeys.constructor.name !== 'Array')) {
        return ''
      }
      console.log('durationOfStay', timeKeys)
      timeKeys.forEach(key => {
        if (this.roomData.time_since_checkout[key]) {
          timeValues.push(`${durObj[key]} ${key}`)
        }
      })
      return timeValues.join(', ')
    },
    guestCheckedout () {
      return this.roomData && this.roomData.checked_out_date !== null
    },
    estimatedPrice () {
      let now = (new Date().getTime() / 1000)
      let secondsSinceCheckin = (this.roomData && this.roomData.checked_in_date)
      console.log('estimatedPrice', { now, secondsSinceCheckin, roomData: this.roomData.checked_in_date })
      if (!secondsSinceCheckin) {
        return null
      }
      return (Math.round((now - secondsSinceCheckin) / 86400 * this.pricePerday))
    }
  },
  methods: {
    checkoutGuest () {
      const room = { ...this.roomData, checked_out_date: Math.round(new Date().getTime() / 1000) }
      this.$store.dispatch('UPDATE_ROOM', room)
      this.guestData = this.get_guest_by_number(this.guestID)
    },
    initData () {
      if (this.isCheckout) {
        if (this.guestID) {
          this.guestData = this.get_guest_by_number(this.guestID)
        }
        if (this.roomNumber) {
          console.log('roomData', this.roomData)
          this.roomData = this.get_room_by_number(this.roomNumber)
          this.roomData.time_since_checkout = daysPast(this.roomData.checked_in_date, this.roomData.checked_out_date, 'initData')
          this.paidAmount = this.estimatedPrice
        }
      }
    }
  },
  mounted () {
    this.initData()
  }
}
</script>
