<template>
  <q-page class="">

    <h4 class="q-pa-sm q-ma-xs">Profile</h4>
    <div class="q-pa-md" style="max-width: 400px">
      <q-list bordered separator>

        <q-item v-ripple v-if="profile && profile.id">
          <q-item-section v-if="hasProfilePic" top avatar>
            <q-avatar>
              <img :src="profile && profile.profile_pic">
            </q-avatar>
          </q-item-section>
          <q-item-section v-else top avatar>
            <q-icon color="primary" name="person" />
          </q-item-section>
          <q-item-section>
            <q-item-label caption>Full name</q-item-label>
            <q-item-label>{{fullName}}</q-item-label>
          </q-item-section>
        </q-item>

      </q-list>
    </div>

    <h6 class="q-pa-sm q-ma-xs">Change password</h6>

    <div class="q-pa-md" style="max-width: 400px">
      <q-list bordered separator>

        <q-item v-ripple v-if="profile && profile.id">
          <!-- <q-item-section>
            <q-item-label caption>Old password</q-item-label>
          </q-item-section> -->
          <q-item-section>
            <q-input filled v-model="passwordReset.old" type="password" label="Old password" dense />
          </q-item-section>
        </q-item>

        <q-item v-ripple v-if="profile && profile.id">
          <!-- <q-item-section>
            <q-item-label caption>New password</q-item-label>
          </q-item-section> -->
          <q-item-section>
            <q-input filled v-model="passwordReset.new" type="password" label="New password" dense />
          </q-item-section>
        </q-item>

        <q-item v-ripple v-if="profile && profile.id">
          <!-- <q-item-section>
            <q-item-label caption>Confirm password</q-item-label>
          </q-item-section> -->
          <q-item-section>
            <q-input filled v-model="passwordReset.confirm" type="password" label="Confirm password" dense />
          </q-item-section>
        </q-item>

        <q-item v-ripple v-if="profile && profile.id">
          <q-item-section avatar>
          </q-item-section>
          <q-item-section>
          </q-item-section>
          <q-item-section>
            <q-btn color="primary" label="Change" @click="resetPassword" />
          </q-item-section>
        </q-item>

      </q-list>
    </div>

  </q-page>
</template>

<style>
.login-form {
  border: 1px solid lightgray;
  border-radius: 0.5em;
}
</style>

<script>
import { mapGetters } from 'vuex'
import { auth } from '../services/api'

export default {
  name: 'PageIndex',
  data () {
    return {
      passwordReset: {
        old: '',
        new: '',
        confirm: ''
      }
    }
  },
  computed: {
    ...mapGetters(['profile']),
    fullName () {
      if (this.profile && this.profile.id) {
        return [this.profile.first_name, this.profile.middle_name, this.profile.last_name].filter(name => name !== '').join(' ')
      }
      return ''
    },
    hasProfilePic () {
      if (this.profile && typeof this.profile.profile_pic === 'string' && this.profile.profile_pic.trim() !== '') {
        return true
      }
      return false
    }
  },
  methods: {
    resetPassword () {
      auth.resetPassword(this, this.passwordReset).then(resp => {
        console.log('ResetPassword response', resp)
      }).catch(err => {
        console.log('ResetPassword error', err)
      })
    }
  },
  created () {
  }
}
</script>
