<template>
  <q-page class="">
    <h4 class="q-pa-sm q-ma-xs">Rooms</h4>

    <div class="q-pa-md">
      <div class="row justify-center"  style="height: 150px">
        <div class="col-12 col-sm-6 col-md-4">
          <!-- <div class="text-h6 text-pink text-center">
            Vacant
          </div> -->
          <div class="board-wrapper">
            <board-wrapper :items="vacantRooms" color="pink" title="Vacant rooms" @updateRooms="updateRoomTypes" />
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <!-- <div class="text-h6 text-green-9 text-center">
            Occupied
          </div> -->
          <div class="board-wrapper">
            <board-wrapper :items="occupiedRooms" color="green-9" title="Occupied rooms" @updateRooms="updateRoomTypes" />
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <!-- <div class="text-h6 text-negative text-center">
            Unavailable
          </div> -->
          <div class="board-wrapper">
            <board-wrapper :items="unavailableRooms" color="negative" title="Unavailable rooms" @updateRooms="updateRoomTypes" />
          </div>
        </div>
      </div>

    </div>
  </q-page>
</template>

<style>
</style>

<script>
import { mapGetters } from 'vuex'
import Board from '../components/partials/Board'

export default {
  name: 'PageIndex',
  components: {
    'board-wrapper': Board
  },
  computed: {
    ...mapGetters(['rooms']),
    allRooms: {
      set (val) {
        this.$store.commit('SET_ROOMS', val)
      },
      get () {
        return this.rooms
      }
    }
  },
  watch: {
    rooms () {
      console.log('Rooms changed:::')
      this.allRooms = this.rooms
    }
  },
  data () {
    return {
      vacantRooms: [],
      occupiedRooms: [],
      unavailableRooms: []
    }
  },
  methods: {
    updateRoomTypes (room) {
      console.log('updateRoomTypes', room)
      this.vacantRooms = this.allRooms && this.allRooms.filter(item => item && item.is_vacant && item.is_available)
      this.occupiedRooms = this.allRooms && this.allRooms.filter(item => item && item.guest && item.guest.id && item.is_available)
      this.unavailableRooms = this.allRooms && this.allRooms.filter(item => item && !item.is_available)
    }
  },
  beforeMount () {
    this.updateRoomTypes()
  }
}
</script>
<style lang="stylus">
.board-wrapper
  border: 1px solid $blue-2
  min-height: 10em
  margin: .2em
  box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3)
  border-radius: .5em
</style>
