<template>
  <q-page class="">

    <h4 class="q-pa-sm q-ma-xs">Guests</h4>

  </q-page>
</template>

<style>
.login-form {
  border: 1px solid lightgray;
  border-radius: 0.5em;
}
</style>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'PageIndex',
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated'])
  },
  methods: {
  },
  created () {
  }
}
</script>
