<template>
  <div class="board">
    <div :class="`title text-${color}`">{{title || 'Board Wrapper'}}</div>
    <div class="board-content">
      <!-- <room-card v-for="item in items" :key="item.id" :room="item"/> -->
      <!-- <div class="q-pa-sm" v-for="item in items" :key="item.id">
        <q-card class="my-card bg-secondary text-white">
          <q-card-section>
            <div class="text-subtitle2">{{`Room ${item.room_number}`}}</div>
          </q-card-section>

          <q-card-section>
            {{ lorem }}
          </q-card-section>

          <q-separator dark />

          <q-card-actions>
            <q-btn flat>Action 1</q-btn>
            <q-btn flat>Action 2</q-btn>
          </q-card-actions>
        </q-card>
      </div> -->

      <q-list bordered separator class="q-pa-none q-ma-sm">

        <q-item v-for="item in items" :key="item.id" clickable v-ripple class="q-pa-xs">
          <q-item-section avatar :class="`text-${color}`">
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>{{`Room ${item.room_number}`}}</q-item-section>
          <q-item-section side :class="`text-${color}`" style="padding: 4px;">
            <!-- <q-icon name="edit"  style="font-size: 1.1em;" /> -->
            <q-btn round color="primary" icon="visibility" size="xs" @click="selectRoom(item)" />
          </q-item-section>
        </q-item>

      </q-list>
    </div>

    <q-dialog
      v-model="showSelectedRoom"
    >
      <q-card style="width: 700px; max-width: 80vw;">
        <q-card-section>
          <div class="text-h6">
            {{`Room ${selectedRoom.room_number}`}}
          </div>
        </q-card-section>

        <q-card-section>
          <div class="q-pa-md q-gutter-lg">
            <div>
              <q-toggle
                v-model="selectedRoom.is_available"
                label="Is Available?"
              />
            </div>
            <div>
              <!-- <span v-for="(value, key) in selectedRoom.amenities" :key="key"> {{key}}: {{ value }} |</span> -->
              <q-chip v-for="(value, key) in selectedRoom.amenities" :key="key" value="value" dense clickable @click="selectedRoom.amenities[key] = !value" :color="value ? 'primary' : ''" text-color="white" icon="cake">
                {{key}}
              </q-chip>
            </div>
            <div>
              <q-btn outline rounded color="primary" :label="((selectedRoom.guest && selectedRoom.guest.name) || 'Select guest')" @click="searchGuestDialog = true" />
            </div>
            <div v-if="selectedRoom.checked_in_date">{{selectedRoom.checked_in_date | unixdiff}}</div>
          </div>
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-teal">
          <q-btn v-if="selectedRoom.guest && selectedRoom.guest.name" flat label="Checkout" :disabled="itemChanged" @click="checkoutGuest" v-close-popup />
          <q-btn flat label="Save" @click="saveSelectedRoomChanges()" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <q-dialog v-model="searchGuestDialog" transition-show="scale" transition-hide="scale">
      <q-card style="width: 300px">
        <q-card-section class="bg-teal text-white">
          <div class="text-h6">Search guest</div>
        </q-card-section>

        <q-card-section>
          Type name or phone of the guest
        </q-card-section>

        <q-card-section>
           <q-input
            filled
            v-model="searchGuestText"
            label="Name or phone *"
            hint="Name or phone"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Please type something']"
            @input="searchGuest"
          />
        </q-card-section>

        <q-card-section>
          <h6 class="q-ma-none">Results:</h6>
          <div v-if="filterSearchResults">
            <q-chip v-for="item in filterSearchResults" :key="item.id" clickable dense icon="add" size="10px" @click="selectGuest(item)">{{item.name}}</q-chip>
          </div>
          <div v-else>
            <p>No results found</p>
          </div>
          <q-inner-loading :showing="filterSearchLoading">
            <q-spinner-gears size="50px" color="primary" />
          </q-inner-loading>
        </q-card-section>

        <!-- <q-card-actions align="right" class="bg-white text-teal">
          <q-btn flat label="OK" v-close-popup />
        </q-card-actions> -->
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
// import RoomCard from './RoomCard'
export default {
  name: 'board-wrapper',
  props: {
    items: {
      type: Array,
      required: true
    },
    color: {
      type: String,
      default: 'primary'
    },
    title: {
      type: String,
      default: ''
    },
    updateRooms: {
      type: Function
    }
  },
  components: {
    // 'room-card': RoomCard
  },
  computed: {
    ...mapGetters(['guests'])
  },
  data () {
    return {
      showSelectedRoom: false,
      selectedRoom: {},
      filterSearchResults: [],
      filterSearchTimer: 0,
      filterSearchLoading: false,
      searchGuestDialog: false,
      searchGuestText: '',
      itemChanged: false
    }
  },
  methods: {
    checkoutGuest () {
      console.log('checkoutGuest')
      if (this.selectedRoom && this.selectedRoom.guest && this.selectedRoom.guest.id) {
        this.$router.push({ path: '/payments', query: { room_number: this.selectedRoom.room_number, guest: this.selectedRoom.guest.id, checkout: true } })
      }
    },
    saveSelectedRoomChanges () {
      if (this.selectedRoom && this.selectedRoom.room_number) {
        let self = this
        let room = window.clone(this.selectedRoom)
        this.$store.dispatch('UPDATE_ROOM', room).then(() => {
          console.log('updated store::::::::::::::::::::::::', [self.$props, this.$props])
          self.$emit('updateRooms', room)
          self.selectedRoom = {}
          self.showSelectedRoom = false
          this.itemChanged = false
        })
      }
    },
    selectGuest (guest) {
      this.itemChanged = true
      if (guest && guest.name) {
        this.selectedRoom.guest = guest
        this.selectedRoom.is_vacant = false
        this.selectedRoom.checked_in_date = (new Date()).getTime() / 1000
        console.log('selectGuest', [window.clone(guest), window.clone(this.selectedRoom.guest)])
        this.searchGuestDialog = false
      } else {
        this.selectedRoom.guest = {}
        this.selectedRoom.is_vacant = true
        this.selectedRoom.checked_in_date = null
      }
    },
    selectRoom (item) {
      console.log('selectRoom', item)
      this.showSelectedRoom = true
      this.selectedRoom = window.clone(item)
      this.filterSearchResults = this.guests
    },
    searchGuest (e) {
      console.log('searchGuest', e)
      clearInterval(this.filterSearchTimer)
      this.filterSearchLoading = true
      this.filterSearchTimer = setTimeout(() => {
        // this.filterSearchResults.push({ id: this.filterSearchResults.length, name: e })
        this.search(e)
        this.filterSearchLoading = false
      }, 1000)
      // if (e && this.filterSearchResults.filter(item => item.name === e).length === 0) {
      //   this.filterSearchResults.push({ id: this.filterSearchResults.length, name: e })
      // }
    },
    search (txt) {
      if (!txt) {
        this.filterSearchResults = this.guests
      } else {
        this.filterSearchResults = this.guests.filter(item => {
          if (item && item.name && item.name.toLocaleLowerCase().indexOf(txt.toLocaleLowerCase()) > -1) {
            return true
          }
          if (item && item.phone && item.phone.indexOf(txt) > -1) {
            return true
          }
          return false
        })
      }
    }
  }
}
</script>
<style lang="stylus">
.board
  border-top-right-radius: .4em
  border-top-left-radius: .4em
  margin: 0.4em;
  & .title
    margin: 0.1em 0.5em
    text-align: center
</style>
