<template>
  <div class="room-card">
    <div class="title">{{`Room ${room.room_number}`}}</div>
    <!-- <pre>{{room}}</pre> -->
  </div>
</template>

<script>
export default {
  name: 'room-card',
  props: {
    room: {
      type: Object,
      required: true
    }
  }
}
</script>
<style lang="stylus">

</style>
